// @import "bootstrap-sprockets";
// @import "bootstrap";

.result-block{
  display: inline-block;
}

.no-padding{
  padding: 0 !important;
}

.lef-padding{
  padding: 15px !important;
}

.logout{
  padding-left: 0;
}

.user-name{
  padding-top: 15px;
}

.nav.navbar-right li{
  .btn{
    color: #fff !important;
    margin-top: 5%;
      }
  .btn-danger:hover{
    background-color: darken(#d9534f, 20%) !important;
  }
  .btn-success:hover{
     background-color: darken(#006426, 5%) !important; 
  }
}

.features {
ul {
margin-left: 0;
padding-left: 15px;
}
}

.jumbotron {
text-align: center;
background-image: asset-url('sunrise.jpg');
background-size: cover;
color: #fff;
font-family: 'Helvetica Neue' !important;
font-stretch: expanded;
padding-top: 25px;
padding-bottom: 25px;
margin-left: 15px;
margin-right: 15px;
text-shadow: -1px 0 #555, 0 1px #555, 1px 0 #555, 0 -1px #555;

}

.no-left-padding {
padding-left: 0 !important;
}

.listing {
list-style: none;
padding-left: 0;
}

